@font-face {
  font-family: Avenir;
  src: url(Font/avenir_ff/AvenirLTStd-Roman.otf);
}



/********************header************************/
/**************************************************/
*{
    margin:0;
    padding:0;
    font-family: Avenir, sans-serif;
  }
  body{
    background:white;
  }
  .page{
    font-family:Avenir, Helvetica, sans-serif;
    max-width:480px;
    margin:0 auto;
    background:white;
    color:#fff;
    line-height:1.5;
    position:relative;
  }
  
  .header{
    padding:0 12px;
    position: relative;
    z-index:999;
    width:100%;
    max-width:480px;
    background:white;
    box-sizing:border-box;
    border-bottom:1px solid #fff;
  }
  
  .logo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .IDT{
    width : 110px;
    height: 50px;
  }

  ul,li{
    display:block;
  }
  li{
    height:50px;
    line-height:50px;
    padding:0 12px;
    border-bottom:1px solid white;
    background:rgb(193, 54, 51);
    text-align: center;
  }

  a{
      text-decoration: none;
      color : white;
  }
  
  #menu-button{
    position:absolute;
    top:0;
    right:0;
    width:50px;
    height:50px;
    overflow:hidden;
    background:#fff;
    color: rgb(193, 54, 51);
    line-height:50px;
    text-align:center;
    font-size:40px;
    cursor:pointer;
    transition:all .5s;
  }
  
  #menu-button::after{
    content:'×';
  }
  #menu-button.close{
    color:#fff;
    background:rgb(193, 54, 51);
  }
  #menu-button.close::after{
    content:'≡';
  }
  
  #menu{
    transition:transform .5s;
    position:absolute;
    width:100%;
    max-width:480px;
    transform:translateY(-350px);
  
  }
  #menu.show-menu{
    transform:translateY(51px);
  }
  
  .main{
   padding:62px 12px 12px 12px;
  }
/***************************Footer******************************/
/**************************************************************/
  footer{
      
      bottom: 0;
      width: 100%;
      height: 250px;
  }

  .footerimg{
      position: relative;
      height: 250px;
      width: 100%;
  }

  .contact{
    text-align: center;
 
  }
 /****************************choice boxes***************************/
 /*****************************************************************/
 .box-shadow {
    width: 270px;
    box-shadow: 5px 4px 6px 0px rgba(0, 0, 0, 0.75);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    cursor: pointer;
  }
  .box-shadow:hover{
    background-color: 
    rgb(193, 54, 51);
     color:#fff;
  }
.box-shadow p{
  text-align: center;
  display: inline;
}
img{
  width:30px;
  height:30px;
  margin:5px;
}
 /*********************************form********************************/
 /********************************************************************/
 hr.dashed-line{
  border-top: 2px dashed #D1232A;
  background-color: transparent;
  opacity: 1;
 }
 .icon-close {
      margin-top:20px ;
    
 }
 #closeX{
   width: 25px;
   height: 25px;
 }
 
 .toggle-form {
    right: -9999px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    transition: right .6s ease-in-out;
  }
  .toggle-form.active {
      right: 0;
  }
  .toggle-form .formwrap img {
      width: 20px;
  }
  /* Ripple effect */
.ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: #f34e54 radial-gradient(circle, transparent 1%, #f57075 1%) center/15000%;
}
.ripple:active {
  background-color: #D1232A;
  background-size: 100%;
  transition: background 0s;
}
input{
  background-color: #fff;
  color: rgb(22, 22, 22);
  box-shadow: 5px 4px 6px 0px rgba(0, 0, 0, 0.75)
}
textarea{
  margin-top:30px !important;
  box-shadow: 5px 4px 6px 0px rgba(0, 0, 0, 0.75)
}
  button {
      background-color: #fff;
      box-shadow: 5px 4px 6px 0px rgba(0, 0, 0, 0.75);
      color: #fff;
      padding: .5rem 2rem;
      font-size: 1rem;
      line-height: 1.5;
      border-radius: 2rem;
      color: black;
      margin-top: 10px !important;
      margin-left: auto!important;
      margin-right: auto!important;
      display: block;
  }
  .ecoute{
    text-decoration: none;
    color: black;
    font-size: 12px;
     text-align: center;
     display: block;
  }
  .form-control {
      display: block;
      width: 100%;
      padding: .5rem .75rem;
      font-size: .9rem;
      line-height: 1.25;
      color: #495057;
      background-color: #fff;
      background-image: none;
      background-clip: padding-box;
      border: 1px solid rgba(0,0,0,.15);
      border-radius: 1.5rem;
      transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  }
  .formwrap {
    background-color: #fff; 
    max-width: 620px;
    height: 100%;
    float: right;
    box-shadow: -1px 0px 12px rgba(0, 0, 0, 0.1);
  }
  /* .formwrap form input, .formwrap form input:focus {
      background-color: transparent;
      border-color: #fff;
      color: #fff;
      margin-right: 10px;
  } */

  .mid-col {
    max-width: 100%;
    flex: 0 0 100%;
    -ms-flex: 0 0 100%;
  }
  .form-control {
          background-color: transparent;
          border-color: #fff;
          color: #fff;
          margin-right: 10px;
   }
  select.form-control:not([size]):not([multiple]) {
    background-color: transparent;
    border-color: #fff;
    color: #fff;
  }
  option {
    background-color: #fff;
    color: #1f2124;
  }
  @media (max-width: 575px) {
    .formwrap{
      width: 100%
    }
  }

  .freepik{
    text-align: center;
    font-size: 8px;
  }
 